@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

:root { --main-navbar-hover-background: #c7ccdf; }

body:not([class*="dashboard"]):not([id*="map-body"]):not([class*="entity"]):not([class*="kanka-"]) #app > aside {background-image:url(http://vfstudios.org/sw/what-lies-beneath-280x210-no-text.jpg)!important;}

/** Dashboard **/
#dashboard-widget-104731 > div.panel-heading.panel-heading-entity, #dashboard-widget-121112 > div.panel-heading.panel-heading-entity { background-position: 60% 40%; }
#dashboard-widget-85396 > div.panel-heading.panel-heading-entity { background-position: center; }
#dashboard-widget-163504 > div.panel-heading.panel-heading-entity { background-image: url(https://kanka-user-assets.s3.eu-central-1.amazonaws.com/characters/n5a6KRtdYKdGf1GWQN2LD31MDnvoctkEO3HX3vTa.jpg)!important; background-position-y: 50%; }

.entity-name-header { background-color: rgba( 255, 255, 255, 0% )!important; }
.entity-name-icons {text-shadow: rgb(0 0 0 / 50%) 0 1px 4px;}
.entity-tags a {text-shadow: none!important;}
div.with-entity-banner ol.entity-breadcrumb > li > a { color: white!important  ; }

/* Search results */
div#live-search_listbox > div.tt-dataset-entityList > a.list-group-item { background-color: rgba(255,255,255,0.5)!important;  }
div#live-search_listbox > div.tt-dataset-entityList > a.list-group-item:hover { background-color: rgba(255,255,255,0.25)!important;  }
div#live-search_listbox { box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 51%); background-image: url(https://www.vfstudios.org/sw/paper59d5.jpg); background-attachment: fixed;  background-position: bottom left; }

/* Background paper */
.content-wrapper {  background-color: #9195A7; background-image: url(https://www.vfstudios.org/sw/paper59d5.jpg); background-attachment: fixed;  background-position: bottom left; }

/* Image for header */
#campaign-dashboard > div > div.campaign-header-content > div > div.campaign-head > a { font-size:0px!important; }
#campaign-dashboard > div > div.campaign-header-content { padding-top:0;padding-bottom:0;}
#campaign-dashboard > div > div.campaign-header-content::after { background-size: contain; background-image: url("http://vfstudios.org/sw/what-lies-beneath-title-only.png"); background-repeat: no-repeat; width:812px; height: 225px; margin-top:-4em; display:inline-block; content: ""; }
@media (max-width: 1196px)
{
	#campaign-dashboard > div > div.campaign-header-content::after { width: 100%; margin-top: -40px;margin-bottom: -40px;}
#campaign-dashboard > div > div.campaign-header-content { }
}
@media (max-width: 787px)
{
#campaign-dashboard > div > div.campaign-header-content::after { width: 90%; margin-top: 15px; margin-bottom: -95px }
#campaign-dashboard > div > div.campaign-header-content { }
}

/* Inline images in table beside text */
td.pic-on-left { padding: 5px; vertical-align: top!important; width:67%; }

/* Profile wider column */
.entity-grid { grid-template-columns: 200px minmax(auto,calc(100% - 500px)) 300px }
@media (max-width: 1196px)
{ .entity-grid { grid-template-columns: 200px minmax(auto,calc(100% - 400px)) 200px; } }

/* URL */
a:not(h1,h2,h3,h4) { font-size: 120%; font-family: 'Cinzel', serif; font-variant: small-caps; font-weight: 500; }
.main-sidebar .sidebar li a { font-size: 11px; font-family: Roboto,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; }

/* Journal indentation */
body.kanka-journals a.name[data-id="1763964"]:before, body.kanka-journals a.name[data-id="1832086"]:before, body.kanka-journals a.name[data-id="1966624"]:before,
body.kanka-journals a.name[data-id="2129239"]:before, body.kanka-journals a.name[data-id="2149892"]:before, body.kanka-journals a.name[data-id="2210729"]:before,
body.kanka-journals a.name[data-id="2221606"]:before { content: "↳ "; padding-left: 20px; }
li.subsection.section-journals { display: none; }

/* Inverted moon icons */
.kanka-entity-calendar .calendar .moon.far.fa-circle::before { font-weight: 900; } /* new moon empty */
.kanka-entity-calendar .calendar .moon.fas.fa-circle::before { font-weight: 400; } /* full moon filled */
.kanka-entity-calendar .calendar .moon.far.fa-moon::before { font-weight: 900; } /* waning moon filled */
.kanka-entity-calendar .calendar .moon.fas.fa-moon { transform: scaleX(-1); } /* waxing moon filled */

/* Default header font */
div.content > div.title > h1 > a { font-family: 'Cinzel Decorative', cursive; }
div.campaign-name { font-family: 'Cinzel Decorative', cursive; }
#app > div > section.content > div.entity-actions > div > h1 {  font-family: 'Cinzel Decorative', cursive; font-size:30px; padding: 0; font-color: black; }
h1, h2, h3, h4, h4.marker-header > a, h3.panel-title > a { font-family: 'Cinzel Decorative', cursive; }
.entity-header .bottom .texts h1, .entity-header .bottom .texts h3 { text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px #000; }

/* Base colors */
.nav-tabs-custom, .nav-tabs-custom>.tab-content .box, .panel, .box-body, .nav-tabs-custom>.tab-content { background-color: #eee; }
.nav-tabs-custom>.nav-tabs { background-color: #ddd; }
.nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a { background-color: #eee; }
.content-wrapper { background-color: #9195A7; }
body { color: #3f4548; }
.list-group-item { background-color: #eee; border: 1px solid #3f4548; }
.nav>li>a:active, .nav>li>a:focus, .nav>li>a:hover { background: rgba(255,255,255,0.5); }
.pinned-entity.preview { background-image: linear-gradient(transparent, rgb(238, 238, 238)); }
.panel .panel-body .preview:before { background: linear-gradient(transparent,#eee); background-image: linear-gradient(transparent, rgb(238, 238, 238)); }

/* Dashboard title */
#campaign-dashboard > div > div.campaign-header-content > div > div.campaign-head > a { font-family: 'Cinzel Decorative', cursive; font-size: 400%; font-size: 6vw; text-shadow: 1px 1px 0 #ffffff91, 2px 2px 0 #3f4548d2, 3px 3px 0 #3f4548a8, 4px 4px 0 #3f45487e, 5px 5px 0 #3f454854, 6px 6px 0 #3f45482a, -1px -1px 0 #fff; color: #3f4548; line-height: 1; }
#campaign-dashboard > div > div.campaign-header-content > div > div.campaign-head > a:hover { color: #3f4548; text-shadow: -1px -1px 0 #ffffff91, -2px -2px 0 #3f4548d2, -3px -3px 0 #3f4548a8, -4px -4px 0 #3f45487e, -5px -5px 0 #3f454854, -6px -6px 0 #3f45482a, 1px 1px 0 #fff;  }
#campaign-dashboard > div > div.campaign-header-content > div > div.preview { font-size: 0px; }
.campaign-header.campaign-imaged-header .campaign-header-content { background-color: rgba(0,0,0,0); backdrop-filter: none; }

#campaign-dashboard .campaign { padding: 0px; }
#campaign-dashboard > section.content > div.campaign.cover-background > div { padding: 60px 20px 10px; background-color: rgba(0,0,0,0); }
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.title > h1 { text-align: left; line-height: 1;}
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.title > h1 > img { display: none; }
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.title > h1 > a { font-size: 400%; font-size: 6vw; text-shadow: 1px 1px 0 #ffffff91, 2px 2px 0 #3f4548d2, 3px 3px 0 #3f4548a8, 4px 4px 0 #3f45487e, 5px 5px 0 #3f454854, 6px 6px 0 #3f45482a, -1px -1px 0 #fff; color: #3f4548; }
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.title > h1 > a:hover { color: #3f4548; text-shadow: -1px -1px 0 #ffffff91, -2px -2px 0 #3f4548d2, -3px -3px 0 #3f4548a8, -4px -4px 0 #3f45487e, -5px -5px 0 #3f454854, -6px -6px 0 #3f45482a, 1px 1px 0 #fff;  }
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.more { width: 50%; margin-bottom: 1em; }
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.more > a { padding: 20px; padding-left: max(30px,25%); padding-right: max(30px,25%); margin-top: 20px; display: inline-block; text-align: center!important; font-weight: bold; background-color: #ffffff87; border-radius: 15px 15px; }
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.more > a:hover { background-color: #ffffffdd; }
#campaign-dashboard > section.content > div.campaign.cover-background > div > div.preview { display: none; }
.panel-heading-entity { height: 300px; }
.panel .panel-heading-entity h3 { transition: background-color 1s; }
.panel .panel-heading-entity h3 {background-color: rgba(0,0,0,0); }
.panel .panel-heading-entity h3 {background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0));/* font-size: 150%; */}
.panel .panel-heading-entity h3:hover { background-color: rgba( 0,0,0,0.2);}
div.panel-heading.panel-heading-entity > h3 > a { font-size: 150%; }

/* Dashboard headers */
#campaign-dashboard .widget-header { position: relative; text-align: center; margin-left: 50%; transform: translateX(-50%); display: inline-block; margin-bottom: 45px; margin-top: 25px; width: 110%; min-height: 70px; background-image: url(https://www.vfstudios.org/sw/blue-marble.jpg); }
#campaign-dashboard .widget .widget-header-text {font-size:24pt;font-family: 'Cinzel Decorative', cursive;color:white;}
#dashboard-widget-121226 > .panel-heading { display: none; }

/* Slightly taller header */
.entity-header.with-entity-header { height: 360px; }
.entity-header .bottom .texts h1 { padding-left: 15px; }

/* Custom centering of entity headers */
body.kanka-entity-1966624 .entity-header { background-position: bottom; }
body.kanka-entity-1452551 .entity-header { background-position-y: 17%; }
body.kanka-entity-2129239 .entity-header { background-position-y: 85%; }
body.kanka-entity-2225936 .entity-header { background-position-y: 75%; }
body.kanka-entity-1385539 .entity-header > .entity-banner { background-position: 50% 100%; } /* Warrens */

/* Breadcrumb */
.breadcrumb > li { display: inline-block; font-size: 120%; font-family: 'Cinzel Decorative'; font-variant: small-caps; font-weight: 500; }
.breadcrumb > li a { font-size: 100%; }

/* sidebar */
.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper { background-color: #051723; }
section.sidebar-campaign { background: linear-gradient(180deg,rgba(51,51,51,0),#051723); }
.main-sidebar .sidebar { background-color: #051723; }
.list-group-unbordered .list-group-item:first-child { border: unset; }

/* Tenets */
li[data-attribute="Tenets"] { }
li[data-attribute="Tenets"] > p br { content: "A" !important; display: block !important; margin: .5em !important; border-bottom: 1px dashed rgba(0,0,0,0.5); }

/* Break in h3 */
h3.break { border-top: dashed 1px black; padding-top: 1em; }

/* Extra spacing on ol/ul */
p.next-list-spacing + ul li, p.next-list-spacing + ol li { padding-bottom: 0.5em; }

/* Mentions */
.note-editing-area .attribute, .note-editing-area .mention { background-color: #9195A7; color: #eee!important; }

/* Entry image */
.float-right { float: right; }
img.race { box-shadow: 0px 10px 5px -5px rgb(0 0 0 / 51%); border:5px double #A28A39; margin: 10px; max-width:50%; }