/* fancy tables */
table.race-quote { box-shadow: 0px 10px 5px -5px rgb(0 0 0 / 51%); background-image: url(https://www.vfstudios.org/sw/white-marble.jpg);border:5px double #A28A39; width: 85%; margin-left: 7.5%; }
table.race-quote > tbody > tr >td { padding: 15px!important; border: 0px; background-color:rgba(229,234,255,60% ); }
table.race-quote > tbody > tr:last-child > td { text-align:right;padding:0 15px 15px 0; }
table.power-list th:first-child + th { text-align: center; }
table.power-list th:first-child + th + th { text-align: center; }
table.power-list th:first-child + th + th + th{ text-align: center; }
table.power-list td { vertical-align: top!important; }
table.power-list td:first-child + td { text-align: center; }
table.power-list td:first-child + td + td { text-align: center; }
table.power-list td:first-child + td + td + td { text-align: center; }
table.dice-list tr th:first-child { text-align:center; }
table.dice-list tr td:first-child {padding-left: 20px!important;padding-right: 20px!important;text-align: center;}
table#char-creation td { vertical-align:top!important; }
table#char-creation > tbody > tr > td:nth-child(2) { font-size:120%; padding: 2px 15px; }
table.map-list > tbody > tr:nth-child(1) > td:nth-child(2) { vertical-align: text-top!important; width: 10%; }
table.map-list > tbody > tr:nth-child(1) > td:nth-child(1) { font-family: monospace; }
table.namelist th, table.namelist td { text-align:center; }
table.namelist tr:first-child { font-size: 120%; border-bottom: 2px solid black; }
table.namelist td { width: 16.67%; border: 1px solid #9195A7; }
table.vignette { font-family: 'Mate SC', serif; background-image: url(https://www.vfstudios.org/sw/white-marble.jpg); font-size:110%; font-weight:400; box-shadow: 0px 10px 5px -5px rgb(0 0 0 / 51%); margin-bottom:3em; border:5px double #A28A39; width: 85%; margin-left: 7.5%; }
table.vignette td { padding:10px!important; background-color:rgba(229,234,255,60% );  }
table.table-music td:first-child a.play { border: 0px;border-radius: 10%;padding: 7px;width: 75%;color:white!important; }
table.table-music td:first-child { text-align: center; max-width: 3em; }
table.table-music td:first-child + td { font-weight: 800; }
table.table-music td:first-child + td + td {}
table.table-music td:first-child + td +td + td { text-align: center; max-width: 3em; }