/** Sentra City **/
#map11203 svg > g > path.leaflet-interactive { opacity: 0; }
#map11203 .leaflet-tooltip { background-color: unset; border: 0; color: #5D200A; box-shadow: none; font-family: 'Cinzel Decorative', cursive; font-size: 125%; text-shadow: -1px -1px 0 #d9c198, 1px -1px 0 #d9c198, -1px 1px 0 #d9c198, 1px 1px 0 #d9c198, 0 0 10px #d9c198, 0 0 15px #d9c198; }
#map11203 .marker-popup-content { display: none; }
#map11203 div.marker-popup-entry > p > a { font-size: 100%; font-family: 'Cinzel Decorative', cursive; }
#map11203 div.marker-popup-entry > p > a::after { content:" >>" }

/** World Map **/
#map9548 div.marker-popup-entry > p > a { font-size: 100%; font-family: 'Cinzel Decorative', cursive; }
#map9548 path.leaflet-interactive { fill-opacity: 0; }
#map9548 path.leaflet-interactive:hover { fill: #ffffaa; fill-opacity: 0.5; filter: blur(20px); }

#map9548 .leaflet-marker-icon {
  margin-left: 0px !important;
  margin-top: 0px !important;
  width: 0px !important;
  height: 0px !important;
}