/* Paper tests */
div.box-body {background-color: rgba(255,255,255,0.5);}
div.box-footer,.nav-tabs-custom>.nav-tabs,.nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a {background-color: rgba(255,255,255,0);background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.5));}
#app > aside { box-shadow: 10px 0px 5px -5px rgb(0 0 0 / 51%); }
#app > header > nav { border-bottom: 2px solid black; background: #9195A7; box-shadow: 0px 15px 5px -5px rgb(0 0 0 / 51%); }
#footer { box-shadow: 0px -15px 5px -5px rgb(0 0 0 / 51%); }
div.content-wrapper { background-image: url(https://www.vfstudios.org/sw/paper59d5.jpg); background-position: right center; background-repeat: no-repeat; background-attachment: fixed; }
div.box-solid { box-shadow: 0 0 5px #000; background-image: url(https://www.vfstudios.org/sw/paper59d5.jpg); border: 1px solid rgba(0,0,0,0.33); }
#app > div > section.content > div.row > div.col-md-3 > div { box-shadow: 0 0 5px #000; background-image: url(https://www.vfstudios.org/sw/paper59d5.jpg); border: 1px solid rgba(0,0,0,0.33); }
#app > div > section.content > div.row > div.col-md-3 > div > div > ul > li.list-group-item { background: none; }
#app > div > section.content > div.row > div.col-md-3 > div > div.box-body.no-padding > ul > li.active > a { border-left: none;  }
#app > div > section.content > div.row > div.col-md-3 > div > div.box-body.no-padding > ul > li.active > a::before {
    content: ""; font-size:120%; font-family: RPGAwesome; display: inline-block; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); vertical-align: text-bottom; line-height:1em; }
#app > div > section.content > div.row > div.col-md-3 > div > div.box-body.no-padding > ul > li > a::before { content:"\00a0\00a0\00a0" }    
#app > div > section.content > div.row > div.col-md-3 > div > div.box-body > ul > li { border-bottom: 0; }
#app > div > section.content > div.row > div.col-md-3 > div > div.box-body > ul > li > a:hover, .table-hover>tbody>tr:hover {background-color: rgba(255,255,255,50%);}    
.panel.panel-default.widget-preview { border: none; }
.box.entity-note, .nav-tabs-custom, #app > div > section.content > div.box, #app > div > section.content > div.row > div.col-md-9 > div.box, .timeline>li>.timeline-item, .panel.panel-default.widget-preview {
    background-image: url(https://www.vfstudios.org/sw/paper59d5.jpg);
    background-position: top center;
    box-shadow: 0 0 5px #000; border: 1px solid rgba(0,0,0,0.33); }
div.nav-tabs-custom > div.tab-content, .panel-body {background-color: rgba(255,255,255,50%);}
.nav-tabs-custom>.nav-tabs>li.active {border-top: none;background-color: rgba(255,255,255,0%);}
.nav-tabs-custom>.nav-tabs>li:not(.active) {border-top: none; background-color: rgb(86 79 18 / 0%);}
.nav-tabs-custom>.nav-tabs>li {border-bottom: none; border-left: solid 1px rgb(86 79 18 / 50%); }
.nav-tabs-custom>.nav-tabs>li:last-child {border-right: solid 1px rgb(86 79 18 / 50%); }
.nav-tabs-custom>.nav-tabs>li>a:hover{ color: inherit; text-shadow: 0 0 3px #fff, 0 0 5px #fff; }
.table-striped>tbody>tr:nth-of-type(odd) {background-color: rgba(255,255,255,50%); }
.table-striped>tbody>tr:nth-of-type(even) {background-color: rgba(255,255,255,25%); }
p.help-block { color: black; }
a:not(.btn):not(.sidebar-toggle):not(.dropdown-toggle):not(.mention):not(.play) { color: #296282; text-shadow: 0 0 3px #fff, 0 0 5px #fff; }
li.list-group-item.entity-tags > p > a { text-shadow: none!important; }
#app > aside > section.sidebar > ul > li > a, #app > section > a, #app > aside > section.sidebar > ul > li.sidebar-section.sidebar-quick-links > div > a {text-shadow: none;color: #fff; font-weight:normal;}
.btn-primary { background-image: url(https://www.vfstudios.org/sw/blue-marble.jpg);
    border-color(rgba(0,0,0,0.8));
    box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 10px rgba(255,255,255,0.7) inset; }
.btn-primary:hover, .btn-primary:active, .btn-default:hover, .btn-default:active { box-shadow: 2px 2px 10px rgba(0,0,0,.25) inset, -2px -2px 10px rgba(255,255,255,0.7) inset; }    
.btn-default { background-image: url(https://www.vfstudios.org/sw/white-marble.jpg);
    border-color(rgba(0,0,0,0.8));
    box-shadow: -2px -2px 10px rgba(0,0,0,.5) inset, 2px 2px 10px rgba(255,255,255,0.75) inset; }
.timeline>li>.timeline-item>.timeline-body,.timeline>li>.timeline-item>.timeline-footer,div.box-footer { background-color: rgba(255,255,255,0.5); }    
row div.box > div.box-header.with-border { background-color: rgba(255,255,255,0.5)!important; }
#era4980 > div.box-header.with-border, #era4979 > div.box-header.with-border, #era4978 > div.box-header.with-border, div.box.box-solid > div.box-header, div.box.no-border.datagrid-filters > div { background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.5));border-bottom: 0;}
.timeline>li>.timeline-item>.timeline-header, .box.entity-note > .box-header {background-color: rgba(0,0,0,0);background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.5));border-bottom: 0;}
.form-control { border-color: #1B1D2D; background-color: rgba(255,255,255,0.5); border-radius: 5px; }
.panel .panel-heading-entity h3 > a, #form-entry div.note-editable a, #campaign-switcher a { text-shadow: none; }
.pinned-entity.preview {background-image: none;}
.panel .panel-body .preview:before { background: none;}
.list-group-item { background-color: transparent!important; }