.sidebar-section-box {
    box-shadow: 0 0 10px #000;
    background-image: url(https://www.vfstudios.org/sw/paper59d5.jpg);
}

.sidebar-section-box .sidebar-section-title, .sidebar-section-box .sidebar-elements {
    background-color: rgba(255,255,255,0.5);
}

.sidebar-section-box .sidebar-section-title {
    padding: 5px;
    font-family: 'Cinzel';
    font-variant-caps: small-caps;
    font-weight: bold;    
}    
    
.sidebar-section-box .sidebar-elements {
    margin: 0;
    padding: 0 5px;
}