@media (min-width: 576px) /** sm **/
{
  .d-none-sm { display: none!important; }
}
@media (min-width: 768px) /** md **/
{
  .d-inline-md { display: inline!important; }
  .d-none-md { display: none!important; }
}
@media (min-width: 992px) { /** lg **/
  .d-none-lg { display: none!important; }
  .d-inline-lg { display: inline!important; }
}
@media (min-width: 1400px) { /** xl **/
  .col-xl-4 { width: 33%; }
  .col-xl-8 { width: 67%; }
}
.d-none-xs { display: none; }
div.column-container { margin-left: unset; margin-right: unset; padding: 0 10px 15px; }
div.column-container .col-xs-1, div.column-container .col-xs-2, div.column-container .col-xs-3, div.column-container .col-xs-4, div.column-container .col-xs-5, div.column-container .col-xs-6, div.column-container .col-xl-4 { padding: 0; }
div.column-label { font-size: 175%; font-weight: 800; text-align: center; padding-bottom: 6px; }
#flavor { border: 3px double black; border-radius: 10px; padding: 10px; margin-bottom: 15px; }
#flavor .field-name { font-weight: 800; }
#flavor .row { padding-bottom: 5px; margin: auto; }
#name-field { font-size: 125%; }
#attributes .field-name { font-size: 125%; font-weight: 800; padding-left: 10px; }
#attributes .attr-val { font-size: 150%; font-weight: 800; padding-left: 20px; }
#health { border: 1px solid black; padding-top: 10px; padding-bottom: 10px; margin-bottom: 15px; border-radius: 10px; }
#health > .row { display: flex; justify-content: center; text-align: center; font-weight: 800; }
#health .field-name { font-weight: 800; text-transform: uppercase; }
#health span.checkoff::after { content: '&#x2718;'; color: red; font-weight: 800; font-size: 125%; margin-left: -1em; }
#health .health-labels { font-size: 80%; }
#health .health-labels > div:first-child { float: left; }
#health .health-labels > div:last-child { float: right; }
#derived-stats { margin-top: 15px; border-top: 1px solid black; padding-top: 10px; padding-bottom: 10px; margin-left: 5px; margin-right: 5px; clear: both; display: inline-block; width: 100%; }
#derived-stats .col-stat { text-align: center; }
#derived-stats .field-name { font-weight: 800; }
#skills .field-name { font-weight: 800; padding-left: 10px; }
#skills .field-name span.skill-abil { font-weight: normal; font-size: 70%; float: left; }
#skills .attr-val { font-size: 125%; font-weight: 800; padding-left: 10px; }
#powers { display: table; height: 1px; }
#powers .field-name { font-weight: 800; }
#power-header { display: table-row; height: auto; }
#power-header > div.field-name:nth-child(2), #power-header > div.field-name:nth-child(3), #power-header > div.field-name:nth-child(4) { text-align: center; }
/* #power-header > div.field-name:not(:first-child) { border-left: solid 1px black; } */
#power-header > div.field-name:last-child { padding-left: 2px; }
#power-header > div, div.power-row > div { display: table-cell; height: 100%; }
#powers div.power-row:nth-child(odd) { background-color: rgba( 50,50,50,0.2); }
div.power-row { display: table-row; height: 100%; vertical-align: top; }
div.power-row > div:nth-child(2), div.power-row > div:nth-child(3), div.power-row > div:nth-child(4) { text-align: center; }
/* div.power-row > div:not(:first-child) { border-left: solid 1px black; } */
div.power-row > div:last-child { padding-left: 2px; }
div.power-row::after { content: ''; display: block; width: 100%; border-top: 1px solid rgba(0,0,0,0.3); }
div.power-row div.power-inner { overflow: auto; height: 100%; }
#gear .field-name { font-weight: 800; }
#gear > div:nth-child(2), #gear > div:nth-child(3), #gear .multiline { padding-left: 15px; padding-right: 15px; }
.die-marker { color: rgba(0,0,0,0); font-weight: 800; font-size: 120%; }
.attr { margin-left: auto; margin-right: auto; clear: both; }
.attr::after { content: ''; display: block; width: 60%; left: 40%; border-top: 1px solid rgba(0,0,0,0.3); float: right; }
.attr .die-marker { font-size: 150%; }

.attr.d4 div.dice:first-child, .attr.d4\+1 div.dice:first-child { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d4-red.png"); }
.attr.d6 div.dice:nth-child(2), .attr.d6\+1 div.dice:nth-child(2) { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d6-red.png"); }
.attr.d8 div.dice:nth-child(3), .attr.d8\+1 div.dice:nth-child(3) { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d8-red.png"); }
.attr.d10 div.dice:nth-child(4), .attr.d10\+1 div.dice:nth-child(4) { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d10-red.png"); }
.attr.d12 div.dice:nth-child(5), .attr.d12\+1 div.dice:nth-child(5) { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d12-red.png"); }
.attr div.dice { background-size: auto 100%; background-repeat: no-repeat; background-position: center; text-align: center; }
.attr div.dice:first-child { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d4.png"); }
.attr div.dice:nth-child(2) { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d6.png"); }
.attr div.dice:nth-child(3) { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d8.png"); }
.attr div.dice:nth-child(4) { background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d10.png"); }
.attr div.dice:nth-child(5) { background-image:url("https://raw.githubusercontent.com/scanime/kanka/main/swade/img/die-d12.png"); }