@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --box-header-text: #2d3963;
}

.content {
    background-image: url(https://raw.githubusercontent.com/scanime/kanka/main/css/code-warriors/stripe-back.gif);
    background-size: 50%;
}
.entity-header .entity-name-header .entity-name, .box .box-header .box-title {
    font-family: 'Audiowide', cursive;
}
.box {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    clip-path: polygon(20px 0px, calc( 100% - 20px ) 0px, 100% 20px, 100% calc( 100% - 20px ), calc( 100% - 20px ) 100%, 20px 100%, 0% calc( 100% - 20px ), 0% 20px);
    padding: 20px;
    border-image-slice: 20 20 20 20;
    border-image-width: 33px 33px 33px 33px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(https://raw.githubusercontent.com/scanime/kanka/main/css/code-warriors/border-test.gif);
    border-style: solid;
}
.box::before {
    background: var(--body-background);
    content: '';
    width: calc( 100% - 20px);
    height: calc( 100% - 20px );
    display:block;
    position: absolute;
    top: 10px;
    left: 10px;
    clip-path: polygon(20px 0px, calc( 100% - 20px ) 0px, 100% 20px, 100% calc( 100% - 20px ), calc( 100% - 20px ) 100%, 20px 100%, 0% calc( 100% - 20px ), 0% 20px);    
}
.box .box-body, .box .box-footer {
    position: relative;
}
