@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Rye&display=swap');

:root {
    --body-text: #1d1d1d;
    --link-text: slategray;
    --text-help: #3f4548;
    --main-navbar-text: white;
    --poster-bg: url(https://raw.githubusercontent.com/scanime/kanka/main/css/western/wanter-poster.jpg)
}

h1, h2, h3, h4 { font-family: 'Arbutus', cursive; }

.entity-name, .entity-name-icons { font-family: 'Rye'; text-shadow: 4px 4px 2px #2c2e38, 1px 1px 1px #000, -1px -1px 1px #fff; color: slategray; letter-spacing: 0.05em; }
ol.entity-breadcrumb, ol.entity-breadcrumb li a { font-family: 'Arbutus'; letter-spacing: 0.1em; }
.entity-tags a { text-shadow: none!important; font-family: 'Arbutus'; letter-spacing: 0.1em; }

div.entity-submenu .box, div.box-solid {
    border: 1px solid rgba(0,0,0,0.33);
    box-shadow: 0 0 5px #000;
    background-size: cover;
    background-image: var(--poster-bg);
    background-repeat: no-repeat;
    background-size: cover;
}

#app, .content-wrapper {
    background-image: url(https://raw.githubusercontent.com/scanime/kanka/main/css/western/wood.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-header { background: none; }
.sidebar-mini.sidebar-collapse .main-sidebar .main-header { background: inherit; }

.content-wrapper a:not(.btn):not(.sidebar-toggle):not(.dropdown-toggle):not(.mention) {
    font-family: 'Arbutus';
    letter-spacing: 0.1em;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff;
    font-variant: small-caps;
}

.box-header>.box-tools > a { color: #444; }
.box-header>.box-tools > a:hover { color: #444; text-shadow: 0 0 3px #fff, 0 0 5px #fff; background: unset; }

div.entity-submenu .box, div.box-solid {border: none;box-shadow: 0 0 5px #000, 4px 4px 8px #000;}
.box-header.with-border { border: none; }
.box-body, .box-header { background: rgba(255,255,255,0.35)!important; }
.box .nav-stacked>li { border-color: var(--body-text); }
.nav>li>a:active, .nav>li>a:focus, .nav>li>a:hover { background: linear-gradient(90deg, rgba(108,67,44,0.75) 0%, rgba(108,67,44,0) 10%, rgba(108,67,44,0) 90%, rgba(108,67,44,0.75) 100%); }

.sidebar-section-box {
    background-image: var(--poster-bg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 51%);
    background-position: top center;
    padding: 5px;
}

/** Navbar & Search **/
.navbar-static-top { padding-bottom: 10px; background-image: url("https://raw.githubusercontent.com/scanime/kanka/main/css/western/woodbeam.png"); background-size: auto 100%; }
.main-header { background: none; }
.sidebar-mini.sidebar-collapse .main-sidebar .main-header { background: inherit; }
.main-header .navbar { background-color: unset!important; }
.main-header .navbar .nav>li>a:hover, .main-header .navbar .sidebar-toggle:active, .main-header .navbar .sidebar-toggle:focus, .main-header .navbar .sidebar-toggle:hover { background-color: unset!important; text-shadow: 0 0 3px #fff, 0 0 5px #fff; }
.main-header .navbar .nav .open>a { background-color: inherit; }
.main-header .navbar .nav .open>a > img {box-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff, -2px 2px 5px #fff, 2px -2px 5px #fff; }
.main-header .navbar .sidebar-toggle:hover, .main-header .navbar .nav>li>a:hover, .main-header .navbar .nav>li>a:active { color: white; }
#live-search { border: 1px solid rgba(0,0,0,0.35)!important; color: black; }
div#live-search_listbox { box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 51%); background-image: var(--poster-bg); background-attachment: fixed; background-position: bottom left; }
div#live-search_listbox > div.tt-dataset-entityList > a.list-group-item { background-color: rgba(255,255,255,0.5)!important; }

.table-striped>tbody>tr:nth-of-type(odd) {background-color: rgba(255,255,255,0.5); }
.table-striped>tbody>tr:nth-of-type(even) {background-color: rgba(255,255,255,0.25); }
.table-hover tbody tr:hover { background: linear-gradient(90deg, rgba(108,67,44,0.75) 0%, rgba(108,67,44,0) 10%, rgba(108,67,44,0) 90%, rgba(108,67,44,0.75) 100%); }
